<form class="container bg-info">
    <div class="form-group">
      <label for="exampleInputEmail1">Username</label>
      <input [(ngModel)]="loginData.userid" type="email" class="form-control" name="email" aria-describedby="email">
      <small id="emailHelp" class="form-text">You can also use your email address if you forgot your username.</small>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input [(ngModel)]="loginData.password" type="password" class="form-control" name="password">
    </div>
    <div class="form-group form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Remember Me</label>
    </div>
    <button (click)="loginUser()" type="submit" class="btn btn-primary">Login</button>
</form>
