.button{
    background: gold;
    font-size: 2em;
    border-style: outset;
    padding:1%;
    margin-left: 5px;
}
.LR-form{
    background-color: gold;
    font-size: 3em;
    margin-left: 10%;
    padding-left: 25%;
    padding-top: 5%;
    padding-bottom: 5%;
    margin-right: 10%;
    margin-top: 5%;
    align-content: center;
    text-shadow: purple;
}
.LR-button{
    background-color: purple;
    border-style: outset;
    margin-left: 19%;
    margin-right: 2%;
    
}
.remember-me{
    font-size: 55%;
}
#remember-me:checked ~ .remember-me{
    background-color: purple;
}

