<a routerLink="/welcome" class="button">Main Page</a>
<a routerLink="/login/register" class="button">Register</a>
<form class="LR-form">
    <label for="username">Username or Email:</label><br>
    <input type="text" id="username" name="username" placeholder="JohnDoe@email.ca"><br>
    <label for="password">Password:</label><br>
    <input type="password" id="password" name="password"><br>
    <button class="LR-button">Login</button>
    <input type="checkbox" id="remember-me" name="remember-me-checkbox" value="True">
    <label for="remember-me" class="remember-me"> Remember Me!</label>
</form>
