.main-heading{
    text-align: center;
    font-size: 5em;
    background-color: gold;
}
.sub-heading{
    text-align: center;
    font-size: 2em;
    background-color:gold;
}
.host-b{
    background: gold;
    font-size: 4em;
    position: fixed;
    top: 50%;
    left: 30%;
}
.join-b{
    background: gold;
    font-size: 4em;
    position: fixed;
    top: 50%;
    right: 30%;
}
body{
    background-color: purple;
}
