<div class="container-fluid recieve-message">
    <div class="container-fluid h-100 bg-secondary mt-2 overflow-auto text" id="displayMessages">
    </div>
</div>
<div class="send-message container-fluid bg-dark">
    <div class="form-inline">
        <label class="username text-white" for="message">{{username}}:</label>
        <input class="messageInput bg-light" id="message" type="text" [(ngModel)]="message">
        <button type="submit" (click)="sendMessage()" class="bg-primary">Send</button>
        <div *ngIf="messageErr">
            <small class="text-danger">Error: Cannot send empty message.</small>
            </div>
    </div>  
</div>
