<form class="container bg-info">
    <div class="form-group">
      <label for="email">Email</label>
      <input [(ngModel)]="registerUserData.email" type="email" class="form-control" name="email" aria-describedby="email" placeholder="harin@email.com">
    </div>
    <div class="form-group">
        <label for="username">Username</label>
        <input [(ngModel)]="registerUserData.username" type="username" class="form-control" name="username" aria-describedby="username" placeholder="harin23">
      </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input [(ngModel)]="registerUserData.password" type="password" class="form-control" name="password">
    </div>
    <div class="form-group form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Remember Me</label>
    </div>
    <button (click)="registerUser()" type="submit" class="btn btn-primary">Register</button>
</form>
